In [29]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [30]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/videogames_db')

In [12]:
#load raw data
raw_data = pd.read_csv('./Resources/Video_Games_Sales_as_at_22_Dec_2016.csv')
raw_data

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#drop nan values
#reset index
no_na = raw_data.dropna()
cleaned_df = no_na.reset_index()
final_df = cleaned_df.drop(['index'],axis=1)
final_df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
2,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
3,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
4,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6820,E.T. The Extra-Terrestrial,GBA,2001.0,Action,NewKidCo,0.01,0.00,0.00,0.00,0.01,46.0,4.0,2.4,21.0,Fluid Studios,E
6821,Mortal Kombat: Deadly Alliance,GBA,2002.0,Fighting,Midway Games,0.01,0.00,0.00,0.00,0.01,81.0,12.0,8.8,9.0,Criterion Games,M
6822,Metal Gear Solid V: Ground Zeroes,PC,2014.0,Action,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,80.0,20.0,7.6,412.0,Kojima Productions,M
6823,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,Atomic Games,T
6824,STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,SimBin,E10+

In [28]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6825 entries, 0 to 6824
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             6825 non-null   object
 1   Platform         6825 non-null   object
 2   Year_of_Release  6825 non-null   float64
 3   Genre            6825 non-null   object
 4   Publisher        6825 non-null   object
 5   NA_Sales         6825 non-null   float64
 6   EU_Sales         6825 non-null   float64
 7   JP_Sales         6825 non-null   float64
 8   Other_Sales      6825 non-null   float64
 9   Global_Sales     6825 non-null   float64
 10  Critic_Score     6825 non-null   float64
 11  Critic_Count     6825 non-null   float64
 12  User_Score       6825 non-null   object
 13  User_Count       6825 non-null   float64
 14  Developer        6825 non-null   object
 15  Rating           6825 non-null   object
dtypes: float64(9), object(7)
memory usage: 853.2+ KB

In [31]:
#Export to sql
final_df.to_sql(name='videogame_sales',
                        con=engine,
                        index=False,
                        if_exists='append')

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Name" of relation "videogame_sales" does not exist
LINE 1: INSERT INTO videogame_sales ("Name", "Platform", "Year_of_Re...
                                     ^

[SQL: INSERT INTO videogame_sales ("Name", "Platform", "Year_of_Release", "Genre", "Publisher", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales", "Critic_Score", "Critic_Count", "User_Score", "User_Count", "Developer", "Rating") VALUES (%(Name)s, %(Platform)s, %(Year_of_Release)s, %(Genre)s, %(Publisher)s, %(NA_Sales)s, %(EU_Sales)s, %(JP_Sales)s, %(Other_Sales)s, %(Global_Sales)s, %(Critic_Score)s, %(Critic_Count)s, %(User_Score)s, %(User_Count)s, %(Developer)s, %(Rating)s)]
[parameters: ({'Name': 'Wii Sports', 'Platform': 'Wii', 'Year_of_Release': 2006.0, 'Genre': 'Sports', 'Publisher': 'Nintendo', 'NA_Sales': 41.36, 'EU_Sales': 28.96, 'JP_Sales': 3.77, 'Other_Sales': 8.45, 'Global_Sales': 82.53, 'Critic_Score': 76.0, 'Critic_Count': 51.0, 'User_Score': '8', 'User_Count': 322.0, 'Developer': 'Nintendo', 'Rating': 'E'}, {'Name': 'Mario Kart Wii', 'Platform': 'Wii', 'Year_of_Release': 2008.0, 'Genre': 'Racing', 'Publisher': 'Nintendo', 'NA_Sales': 15.68, 'EU_Sales': 12.76, 'JP_Sales': 3.79, 'Other_Sales': 3.29, 'Global_Sales': 35.52, 'Critic_Score': 82.0, 'Critic_Count': 73.0, 'User_Score': '8.3', 'User_Count': 709.0, 'Developer': 'Nintendo', 'Rating': 'E'}, {'Name': 'Wii Sports Resort', 'Platform': 'Wii', 'Year_of_Release': 2009.0, 'Genre': 'Sports', 'Publisher': 'Nintendo', 'NA_Sales': 15.61, 'EU_Sales': 10.93, 'JP_Sales': 3.28, 'Other_Sales': 2.95, 'Global_Sales': 32.77, 'Critic_Score': 80.0, 'Critic_Count': 73.0, 'User_Score': '8', 'User_Count': 192.0, 'Developer': 'Nintendo', 'Rating': 'E'}, {'Name': 'New Super Mario Bros.', 'Platform': 'DS', 'Year_of_Release': 2006.0, 'Genre': 'Platform', 'Publisher': 'Nintendo', 'NA_Sales': 11.28, 'EU_Sales': 9.14, 'JP_Sales': 6.5, 'Other_Sales': 2.88, 'Global_Sales': 29.8, 'Critic_Score': 89.0, 'Critic_Count': 65.0, 'User_Score': '8.5', 'User_Count': 431.0, 'Developer': 'Nintendo', 'Rating': 'E'}, {'Name': 'Wii Play', 'Platform': 'Wii', 'Year_of_Release': 2006.0, 'Genre': 'Misc', 'Publisher': 'Nintendo', 'NA_Sales': 13.96, 'EU_Sales': 9.18, 'JP_Sales': 2.93, 'Other_Sales': 2.84, 'Global_Sales': 28.92, 'Critic_Score': 58.0, 'Critic_Count': 41.0, 'User_Score': '6.6', 'User_Count': 129.0, 'Developer': 'Nintendo', 'Rating': 'E'}, {'Name': 'New Super Mario Bros. Wii', 'Platform': 'Wii', 'Year_of_Release': 2009.0, 'Genre': 'Platform', 'Publisher': 'Nintendo', 'NA_Sales': 14.44, 'EU_Sales': 6.94, 'JP_Sales': 4.7, 'Other_Sales': 2.24, 'Global_Sales': 28.32, 'Critic_Score': 87.0, 'Critic_Count': 80.0, 'User_Score': '8.4', 'User_Count': 594.0, 'Developer': 'Nintendo', 'Rating': 'E'}, {'Name': 'Mario Kart DS', 'Platform': 'DS', 'Year_of_Release': 2005.0, 'Genre': 'Racing', 'Publisher': 'Nintendo', 'NA_Sales': 9.71, 'EU_Sales': 7.47, 'JP_Sales': 4.13, 'Other_Sales': 1.9, 'Global_Sales': 23.21, 'Critic_Score': 91.0, 'Critic_Count': 64.0, 'User_Score': '8.6', 'User_Count': 464.0, 'Developer': 'Nintendo', 'Rating': 'E'}, {'Name': 'Wii Fit', 'Platform': 'Wii', 'Year_of_Release': 2007.0, 'Genre': 'Sports', 'Publisher': 'Nintendo', 'NA_Sales': 8.92, 'EU_Sales': 8.03, 'JP_Sales': 3.6, 'Other_Sales': 2.15, 'Global_Sales': 22.7, 'Critic_Score': 80.0, 'Critic_Count': 63.0, 'User_Score': '7.7', 'User_Count': 146.0, 'Developer': 'Nintendo', 'Rating': 'E'}  ... displaying 10 of 6825 total bound parameter sets ...  {'Name': 'Breach', 'Platform': 'PC', 'Year_of_Release': 2011.0, 'Genre': 'Shooter', 'Publisher': 'Destineer', 'NA_Sales': 0.01, 'EU_Sales': 0.0, 'JP_Sales': 0.0, 'Other_Sales': 0.0, 'Global_Sales': 0.01, 'Critic_Score': 61.0, 'Critic_Count': 12.0, 'User_Score': '5.8', 'User_Count': 43.0, 'Developer': 'Atomic Games', 'Rating': 'T'}, {'Name': 'STORM: Frontline Nation', 'Platform': 'PC', 'Year_of_Release': 2011.0, 'Genre': 'Strategy', 'Publisher': 'Unknown', 'NA_Sales': 0.0, 'EU_Sales': 0.01, 'JP_Sales': 0.0, 'Other_Sales': 0.0, 'Global_Sales': 0.01, 'Critic_Score': 60.0, 'Critic_Count': 12.0, 'User_Score': '7.2', 'User_Count': 13.0, 'Developer': 'SimBin', 'Rating': 'E10+'})]
(Background on this error at: http://sqlalche.me/e/f405)